extends layout

block content
  h1= title
  <h1>Database connection and select query</h1>
   - names = [1,'ajay','ajaysisaudiya@gmail.com']


  table
    thead
      tr
        th id
        th name
        th email
      tr
    tbody 
    
       - for(let i=0; i<data.length; i++){  
         tr  
            td=data[i].id
            td=data[i].username
            td=data[i].email                            
       - }
       
      

    form(action="/products" method="get")
      input(type="text" name="name" value="" placeholder="Name")
      input(type="text" name="pass" value="" placeholder="Password")
      input(type="submit" name="submit" value="Search")

      
      

    
      
     

    